[class*="xml-viewer-"] {
	font-family:Courier New, serif;
	font-size:11pt;
	padding-left:1em;
	display:block;
	white-space:nowrap;
}

[class="xml-viewer-inline"]{
	display:inline;
}


/* 
 * Content
 */
 
[class="xml-viewer-content"]{
	color:black;
	font-weight:bold;
}
[class="xml-viewer-content-inline"]{
	color:black;
	font-weight:bold;
	display:inline;
	padding-left:0em;
}



/* 
 * Tags
 */

[class="xml-viewer-tag"] > [class="xml-viewer-tag-start"]{
	cursor:pointer;
}

[class="xml-viewer-tag-start"], [class="xml-viewer-tag-end"], [class="xml-viewer-tag-single"] {
	color:DarkRed;
	padding-left:0em;
}

[class="xml-viewer-tag-inline"] [class="xml-viewer-tag-start"], [class="xml-viewer-tag-inline"] [class="xml-viewer-tag-end"] {
	display:inline;
}

 
[class="xml-viewer-tag-start"]:before, [class="xml-viewer-tag-single"]:before{
	color:blue;
	content:'<';
}

[class="xml-viewer-tag-end"]:before{
	color:blue;
	content:'</';
}

[class="xml-viewer-tag-start"]:after, [class="xml-viewer-tag-end"]:after{
	color:blue;
	content:'>';
}

[class="xml-viewer-tag-single"]:after{
	color:blue;
	content:'/>';
}


[class="xml-viewer-tag-content-inline"]{
	display:inline;
	padding-left:0em;
}


[class="xml-viewer-tag-end"]{
	color:#E8CCCC;
}
[class="xml-viewer-tag-end"]:before, [class="xml-viewer-tag-end"]:after{
	color:#CCCCFF;
}

[class="xml-viewer-tag-start"]:before, [class="xml-viewer-tag-single"]:before{
	color:#CCCCFF;
}


/* 
 * Processing Instructions 
 */

[class="xml-viewer-processing-instruction"] {
	color:blue;
}

[class="xml-viewer-processing-instruction"]:before {
	content:'<?';
}

[class="xml-viewer-processing-instruction"]:after {
	content:'?>';
}



/* 
 * CData 
 */

[class="xml-viewer-cdata"] {
	color:black;
	word-wrap: break-word; 
	white-space: pre-wrap;
	margin-top:0px;
	margin-bottom:0px;
}

[class="xml-viewer-cdata"]:before {
	color:blue;
	content:'<![CDATA[';
}

[class="xml-viewer-cdata"]:after {
	color:blue;
	content:']]>';
}



/*
 * Attributes
 */
[class="xml-viewer-attribute-name"]{
	display:inline;
	padding-left:0em;
}
[class="xml-viewer-attribute-value"]{
	display:inline;
	padding-left:0em;
	color:blue;
}

[class="xml-viewer-attribute-name"]:before {
	content:' ';
}

[class="xml-viewer-attribute-name"]:after {
	content:'=';
}
 
[class="xml-viewer-attribute-value"]:before, [class="xml-viewer-attribute-value"]:after {
	content:'"';
	color:DarkRed;
}

[class="xml-viewer-attribute"]{
	display:inline;
	padding-left:0em;
}

[class="xml-viewer-attribute-set"]{
	display:inline;
	padding-left:0em;
}

/*
 * Comments
 */
[class="xml-viewer-comment"]{
	color:gray;
	display:block;
	word-wrap: break-word; 
	white-space: pre-wrap;
	margin-top:0px;
	margin-bottom:0px;	
}
[class="xml-viewer-comment"]:before {
	color:blue;
	content:'<!--';
}

[class="xml-viewer-comment"]:after {
	color:blue;
	content:'-->';
}

