[class|="xml-viewer"] {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: inherit;
	vertical-align: baseline;
	line-height: 1.15;
	list-style: none;
	border-collapse: separate;
	border-spacing: 0;
	text-align: left;
	font-weight: normal;
	background-color:white;	
	cursor:default;

	font-family: Menlo, Consolas, Courier New, Lucida Console, serif;
	font-size:11pt;
	padding-left:1em;
	display:block;
	white-space:nowrap;
	
}

[class~="xml-viewer-inline"] > [class|="xml-viewer-tag"]{
	display:inline;
	padding-left:0;
}

[class~="xml-viewer-hidden"]{
	display:none;
}



/* 
 * Content
 */
 
[class~="xml-viewer-tag-content"]{
	color:black;
}



/* 
 * Tags
 */
[class~="xml-viewer-tag"]:not([class~="xml-viewer-inline"]) > [class~="xml-viewer-tag-start"]:not([class~="xml-viewer-tag-end"]){
	cursor:pointer;
}

[class~="xml-viewer-tag-start"], [class~="xml-viewer-tag-end"] {
	color:DarkRed;
	padding-left:0em;
}

[class~="xml-viewer-tag-end"]:not([class~="xml-viewer-tag-start"]):before{
	content:'<';
}

[class~="xml-viewer-tag-start"]:after{/*, [class~="xml-viewer-tag-end"]:after{*/
	color:blue;
	content:'>';
}

[class~="xml-viewer-tag-start"][class~="xml-viewer-tag-end"]:after{
	color:blue;
	content:'/';
}


/* Tag Fade Effect */
[class~="xml-viewer-tag-start"]:before{
	color:#CCCCFF;
}

[class~="xml-viewer-tag-end"]:not([class~="xml-viewer-tag-start"]){
	color:#E8CCCC;

}
[class~="xml-viewer-tag-end"]:before, [class="xml-viewer-tag-end"]:after{
	color:#CCCCFF;
}


/* 
 * Processing Instructions 
 */

[class~="xml-viewer-processing-instruction"] {
	color:blue;
}

[class~="xml-viewer-processing-instruction"]:before {
	content:'<?';
}

[class~="xml-viewer-processing-instruction"]:after {
	content:'?>';
}



/* 
 * CData 
 */

[class~="xml-viewer-cdata"] {
	color:black;
	word-wrap: break-word; 
	white-space: pre-wrap;
	margin-top:0px;
	margin-bottom:0px;
}

[class~="xml-viewer-cdata"]:before {
	color:blue;
	content:'<![CDATA[';
}

[class~="xml-viewer-cdata"]:after {
	color:blue;
	content:']]>';
}



/*
 * Attributes
 */
[class~="xml-viewer-attribute-set"], [class~="xml-viewer-attribute-set"] [class|="xml-viewer-attribute"] {
	display:inline;
	padding-left:0em;
}

[class~="xml-viewer-attribute-value"]{
	color:blue;
}

[class~="xml-viewer-attribute-name"]:before {
	content:' ';
}

[class~="xml-viewer-attribute-name"]:after {
	content:'=';
}
 
[class~="xml-viewer-attribute-value"]:before, [class~="xml-viewer-attribute-value"]:after {
	color:DarkRed;
	content:'"';
}


/*
 * Comments
 */
[class~="xml-viewer-comment"]{
	color:gray;
	display:block;
	word-wrap: break-word; 
	white-space: pre-wrap;
	margin-top:0px;
	margin-bottom:0px;	
}
[class~="xml-viewer-comment"]:before {
	color:blue;
	content:'<!--';
}

[class~="xml-viewer-comment"]:after {
	color:blue;
	content:'-->';
}

