* {
	font-family:Courier New, serif;
	font-size:11pt;
	padding-left:1em;
	display:block;
}

[class="inline"]{
	display:inline;
}


/* 
 * Content
 */
 
[class="content"]{
	color:black;
	font-weight:bold;
}
[class="content-inline"]{
	color:black;
	font-weight:bold;
	display:inline;
	padding-left:0em;
}



/* 
 * Tags
 */

[class="tag-inline"]{
}

[class*="tag-start"], [class*="tag-end"], [class*="tag-single"] {
	color:DarkRed;
	padding-left:0em;
}

[class="tag-inline"] [class*="tag-start"], [class="tag-inline"] [class*="tag-end"] {
	display:inline;
}

 
[class*="tag-start"]:before, [class*="tag-single"]:before{
	color:blue;
	content:'<';
}

[class*="tag-end"]:before{
	color:blue;
	content:'</';
}

[class*="tag-start"]:after, [class*="tag-end"]:after{
	color:blue;
	content:'>';
}

[class*="tag-single"]:after{
	color:blue;
	content:'/>';
}


[class="tag-content-inline"]{
	display:inline;
	padding-left:0em;
}




/* 
 * Processing Instructions 
 */

[class*="processing-instruction"] {
	color:blue;
}

[class*="processing-instruction"]:before {
	content:'<?';
}

[class*="processing-instruction"]:after {
	content:'?>';
}



/* 
 * CData 
 */

[class*="cdata"] {
	color:black;
}

[class*="cdata"]:before {
	color:blue;
	content:'<![CDATA[';
}

[class*="cdata"]:after {
	color:blue;
	content:']]>';
}



/*
 * Attributes
 */
[class="webkit-html-attribute-name"]{
	display:inline;
	padding-left:0em;
}
[class="webkit-html-attribute-value"]{
	display:inline;
	padding-left:0em;
}

[class="webkit-html-attribute-name"]:before {
	content:' ';
}

[class="webkit-html-attribute-name"]:after {
	content:'=';
}
 
[class="webkit-html-attribute-value"]:before, [class="webkit-html-attribute-value"]:after {
	content:'"';
}

[class="webkit-html-attribute"]{
	display:inline;
	padding-left:0em;
}

[class="webkit-html-attribute-set"]{
	display:inline;
	padding-left:0em;
}

/*
 * Attributes
 */
[class="webkit-html-comment"]{
	color:gray;
	display:block;
}
[class="webkit-html-comment"]:before {
	color:blue;
	content:'<!--';
}

[class="webkit-html-comment"]:after {
	color:blue;
	content:'-->';
}

