@charset "UTF-8";

/* 2.8 */
[class|="xml-viewer"] {
	margin: 0;
	padding: 0 0 0 1.5em;
	border: 0;
	outline: 0;
	vertical-align: baseline;

	background-color:white;	

	display:block;
}


div[class~="xml-viewer-document"]{
	font-family: DejaVu Sans Mono, Menlo, Consolas, Courier New, Lucida Console, serif;
	font-size:11pt;
	font-weight: normal;
	font-style: inherit;
	line-height: 1.2;
	text-align: left;
	border-spacing: 0;
	border-collapse: separate;
		
	white-space:nowrap;
	cursor:default;
}


/* 0.25 */
div[class~="xml-viewer-inline"] > [class|="xml-viewer-tag"]{
	display:inline;
	padding-left:0;
}


[class~="xml-viewer-hidden"]{
	display:none;
}

span[class~="xml-viewer-tag-collapse-indicator"]{
	visibility:hidden;
	padding-left:0;
	display:inline;
	color:blue;
}

span[class~="xml-viewer-visible"]{
	visibility:visible;
}

/* 
 * Content
 * 0.1s
 */

div[class~="xml-viewer-tag-content"]{
	white-space:pre;
	color:black;
}



/* 
 * Tags
 * 3s
 */
div[class~="xml-viewer-tag"]{
	padding-left:0;
}

div[class~="xml-viewer-tag-collapsible"] span {
	cursor:pointer;
}

div[class~="xml-viewer-tag-start"] {
	padding-left:0em;
	color:DarkRed;
}


span[class~="xml-viewer-start-bracket"]{
	padding-left:0em;
	display:inline;
	color:blue;
}
span[class~="xml-viewer-end-bracket"]{
	padding-left:0em;
	display:inline;
	color:blue;
}

div[class~="xml-viewer-tag-end"]:not([class~="xml-viewer-tag-start"]){
	color:DarkRed;
	padding-left:0em;	
}



/* 
 * Processing Instructions 
 * 0.3s
 */

div[class~="xml-viewer-processing-instruction"] {
	color:blue;
	padding-left:1.25em;
}

div[class~="xml-viewer-processing-instruction"]:before {
	content:'<?';
}

div[class~="xml-viewer-processing-instruction"]:after {
	content:'?>';
}



/* 
 * CData 
 */

pre[class~="xml-viewer-cdata"] {
	color:black;
	white-space: pre-line;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:1.25em;	
}

pre[class~="xml-viewer-cdata"]:before {
	color:blue;
	content:'<![CDATA[';
}

pre[class~="xml-viewer-cdata"]:after {
	color:blue;
	content:']]>';
}



/*
 * Attributes
 */

/* 0.25s */

span[class~="xml-viewer-attribute-set"], span[class~="xml-viewer-attribute-set"] *{
	color:DarkRed;
	cursor:inherit;
	display:inline;
	padding-left:0em;
}

/* 0.1s */

span[class~="xml-viewer-attribute-value"]{
	color:blue;
}



/*
 * Comments
 */

pre[class~="xml-viewer-comment"]{
	color:gray;
	display:block;
	white-space: pre-line;
	margin-top:0px;
	margin-bottom:0px;	
	padding-left:1.25em;
}
pre[class~="xml-viewer-comment"]:before {
	color:blue;
	content:'<!--';
}

pre[class~="xml-viewer-comment"]:after {
	color:blue;
	content:'-->';
}

